---
author_profile: true
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash.jpg
  cta_label: "Download"
  caption: "Photo from first event: Mario Kart!"
excerpt: "Home of Guernsey eSports"
intro: 
  - excerpt: 'Home of Guernsey eSports'
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}