<footer class="container page-footer grey darken-2">

      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Follow us</h5>
          <ul class="list-inline">
            <li><a href="https://twitter.com/GuernseyEsports"><img class="social" src="/assets/images/twitter.png"></a></li>
            <li><a href="https://www.instagram.com/guernseyesports/"><img class="social" src="/assets/images/instagram.png"></a></li>
            <li><a href="https://www.facebook.com/guernseyesports/"><img class="social" src="/assets/images/facebook.png"></a></li>
            <li><a href="https://discord.gg/GE53Y"><img class="social" src="/assets/images/discord.png"></a></li>
          </ul>

        </div>

        <div class="col l6 s12">
          <h5 class="white-text right-align"><a href="mailto:contact@guernseyesports.com" class="white-text">contact@guernseyesports.com</a></h5>
        </div>
      </div>

  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/bin/materialize.js"></script>
  <script src="/js/bin/init.js"></script>